page-memo-detail {
  .invalid {
    border-bottom: 1px solid color($colors, danger);
  }
  .error-message p {
    color: color($colors, danger);
  }
  .error-message .item-inner {
    border-bottom: 0 !important;
  }
  ion-toolbar.footer-toolbar {
    height: 50px;
  }
  .checked-item {
    color: color($colors, cloud);
    text-decoration: line-through;
  }
}
