<ion-header>
  <ion-navbar color="diary">
    <ion-title>登入</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>電子郵件</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="你的電子郵件"
        (change)="elementChanged(email)" [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && (emailChanged || submitAttempt)">
      <p>請輸入正確的電子郵件</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>密碼</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="你的密碼"
        (change)="elementChanged(password)" [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)">
      <p>請輸入長度至少為 6 個字元的密碼</p>
    </ion-item>

    <button color="diary" ion-button block type="submit">登入</button>
  </form>

  <button color="diary" ion-button block clear (click)="goToResetPassword()">
    忘記密碼了 😓
  </button>
</ion-content>  