<ion-header>
  <ion-navbar color="diary">
    <ion-title>{{modeDesc}}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon class="close-icon" name="arrow-back"></ion-icon>返回
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon class="add-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="contactForm" novalidate>
    <ion-item>
      <ion-label stacked>姓名</ion-label>
      <ion-input #name formControlName="name" type="text" placeholder="聯絡人姓名" value={{inputName}}
        (change)="elementChanged(name)" [class.invalid]="!contactForm.controls.name.valid && (nameChanged || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!contactForm.controls.name.valid && (nameChanged || submitAttempt)">
      <p>請輸入聯絡人姓名</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>電話</ion-label>
      <ion-input #phone formControlName="phone" type="text" placeholder="聯絡人電話" value={{inputPhone}}
        (change)="elementChanged(phone)" [class.invalid]="!contactForm.controls.phone.valid && (phoneChanged || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!contactForm.controls.phone.valid && (phoneChanged || submitAttempt)">
      <p>請輸入聯絡人電話</p>
    </ion-item>
  </form>  
</ion-content>

<ion-footer>
  <ion-toolbar color="diary" class="footer-toolbar">
    <ion-grid>
      <ion-row>
        <ion-col offset-80>
          <button color="diary" type="button" (click)="editContact()" ion-button icon-only>
            <ion-icon name="ios-checkbox-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
