<ion-header>
  <ion-navbar color="diary">
    <ion-title>{{contactTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon class="close-icon" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="contactForm" (submit)="createContact()" novalidate>
    <ion-item>
      <ion-label stacked>姓名</ion-label>
      <ion-input #name formControlName="name" type="text" placeholder="聯絡人姓名"
        (change)="elementChanged(name)" [class.invalid]="!contactForm.controls.name.valid && (nameChanged || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!contactForm.controls.name.valid && (nameChanged || submitAttempt)">
      <p>請輸入聯絡人姓名</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>電話</ion-label>
      <ion-input #phone formControlName="phone" type="text" placeholder="聯絡人電話"
        (change)="elementChanged(phone)" [class.invalid]="!contactForm.controls.phone.valid && (phoneChanged || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!contactForm.controls.phone.valid && (phoneChanged || submitAttempt)">
      <p>請輸入聯絡人電話</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>電子郵件</ion-label>
      <ion-input #email formControlName="email" type="text" placeholder="聯絡人電子郵件（選填）">
      </ion-input>
    </ion-item>

    <button color="diary" ion-button block type="submit">確認</button>
  </form>  
</ion-content>
