page-landing {
  form {
    margin-bottom: 30px;

    .button {
      margin-bottom: 15px;
    }
  }
  .button-text {
    padding-bottom: 15px;
  }
  .img-container {
    width: 95%;
    display: block;
    margin: 0 auto;
  }
  img.landing-img {
    width: 100%;
    padding-bottom: 10px;
  }
}
