# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
typings/
src/app/*.js*
src/components/*.js*
src/pages/*.js*
src/providers/*.js*
src/validators/*.js*
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
ionic.config.json
.io-config.json
.eslintrc.js
.firebaserc
database.rules.json
firebase.json
tslint.json
