<ion-header>
  <ion-navbar color={{theme}}>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon class="back-icon" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <ion-input class="diary-month" text-center readonly [(ngModel)]="diaryMonth"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col tappable (click)="openDatePicker()">
        <ion-input class="diary-date" text-center readonly [(ngModel)]="diaryDate"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="diary-day" text-right readonly [(ngModel)]="diaryDay"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input class="diary-time" text-left readonly [(ngModel)]="diaryTime"></ion-input>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="diaryForm" (submit)="dismiss()" novalidate>
    <ion-item>
      <ion-input #title formControlName="title" type="text" placeholder="日記主題" value={{inputTitle}}
        (change)="elementChanged(title)" [class.invalid]="!diaryForm.controls.title.valid && (titleChanged || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!diaryForm.controls.title.valid && (titleChanged || submitAttempt)">
      <p>請輸入日記主題</p>
    </ion-item>
    <ion-item no-lines>
      <ion-textarea class="diary-content" #content formControlName="content" placeholder="日記內容(點選日期兩次開啟設定)" value={{inputContent}} rows="10" autoresize
        (change)="elementChanged(content)" [class.invalid]="!diaryForm.controls.content.valid && (contentChanged || submitAttempt)">
      </ion-textarea>
    </ion-item>
    <ion-item class="error-message" *ngIf="!diaryForm.controls.content.valid && (contentChanged || submitAttempt)">
      <p>請輸入日記內容</p>
    </ion-item>
  </form>

  <ion-fab class="fab-weather" right top edge #fabWeather>
    <button ion-fab mini color="light"><ion-icon color={{theme}} name="ios-{{weather}}"></ion-icon></button>
    <ion-fab-list side="bottom">
      <button ion-fab (click)="selectWeather('sunny', fabWeather)">
        <ion-icon color={{theme}} name="ios-sunny"></ion-icon>
      </button>
      <button ion-fab (click)="selectWeather('cloudy', fabWeather)">
        <ion-icon color={{theme}} name="ios-cloudy"></ion-icon>
      </button>
      <button ion-fab (click)="selectWeather('rainy', fabWeather)">
        <ion-icon color={{theme}} name="ios-rainy"></ion-icon>
      </button>
      <button ion-fab (click)="selectWeather('thunderstorm', fabWeather)">
        <ion-icon color={{theme}} name="ios-thunderstorm"></ion-icon>
      </button>
      <button ion-fab (click)="selectWeather('snow', fabWeather)">
        <ion-icon color={{theme}} name="ios-snow"></ion-icon>
      </button>
      <button ion-fab (click)="selectWeather('cloudy-night', fabWeather)">
        <ion-icon color={{theme}} name="ios-cloudy-night"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab class="fab-mood" right top edge #fabMood>
    <button ion-fab mini color="light"><img height="24" width="24" src="assets/img/{{theme || 'male'}}-{{mood}}.svg"></button>
    <ion-fab-list side="bottom">
      <button ion-fab (click)="selectMood('happy', fabMood)">
        <img height="24" width="24" src="assets/img/{{theme || 'male'}}-happy.svg">
      </button>
      <button ion-fab (click)="selectMood('smile', fabMood)">
        <img height="24" width="24" src="assets/img/{{theme || 'male'}}-smile.svg">
      </button>
      <button ion-fab (click)="selectMood('neutral', fabMood)">
        <img height="24" width="24" src="assets/img/{{theme || 'male'}}-neutral.svg">
      </button>
      <button ion-fab (click)="selectMood('sad', fabMood)">
        <img height="24" width="24" src="assets/img/{{theme || 'male'}}-sad.svg">
      </button>
      <button ion-fab (click)="selectMood('angry', fabMood)">
        <img height="24" width="24" src="assets/img/{{theme || 'male'}}-angry.svg">
      </button>
      <button ion-fab (click)="selectMood('cry', fabMood)">
        <img height="24" width="24" src="assets/img/{{theme || 'male'}}-cry.svg">
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color={{theme}} class="footer-toolbar">
    <ion-grid>
      <ion-row>
        <ion-col offset-80>
          <button color={{theme}} (click)="editDiary()" ion-button icon-only>
            <ion-icon name="ios-checkbox-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>