page-diary-edit {
  ion-navbar {
    height: 110px;

    .diary-month {
      font-size: 18px;
      color: color($colors, clean);
      transform: translate(0, 38px);
    }
    .diary-date {
      font-size: 50px;
      color: color($colors, clean);
      transform: translate(0, -3px);
    }
    .diary-day, .diary-time {
      font-size: 12px;
      color: color($colors, clean);
      transform: translate(3px, -42px);
    }
  }

  ion-toolbar.footer-toolbar {
    height: 50px;
  }
  .back-icon {
    transform: translate(0, -25px);
  }
  .invalid {
    border-bottom: 1px solid color($colors, danger);
  }
  .error-message p {
    color: color($colors, danger);
  }
  .error-message .item-inner {
    border-bottom: 0 !important;
  }
}
