page-diary-edit {
  ion-navbar {
    height: 120px;

    .diary-month {
      font-size: 18px;
      color: color($colors, clean);
      margin: 0;
      transform: translate(0, 18px);
    }
    .diary-day {
      font-size: 66px;
      color: color($colors, clean);
      margin: 0;
      transform: translate(0, -3px);
    }
    .diary-week, .diary-time {
      font-size: 14px;
      color: color($colors, clean);
      margin: 0;
      transform: translate(3px, -20px);
    }
  }
}
