page-home {
  ion-navbar {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
  }
  .input-wrapper {
    height: 63px;
  }
  .user-name {
    padding-top: 16px;
  }
  .rightmost-button {
    transform: translate(10px, 0);
  }
  ion-toolbar.footer-toolbar {
    height: 50px;
  }
}