page-home {
  .input-wrapper {
    height: 63px;
  }
  .user-name {
    padding-top: 16px;
  }
  .menu-button {
    transform: translate(0, 10px);
  }
  .rightmost-button {
    transform: translate(10px, 0);
  }
  ion-toolbar.footer-toolbar {
    height: 50px;
  }
}  