page-memo-list {
  .memo-list-searchbar {
    margin-top: -10px;
  }
  .input-wrapper {
    height: 63px;
  }
  .menu-icon {
    transform: translate(0, 10px);
  }
  ion-toolbar.footer-toolbar {
    height: 50px;
  }
}
