<ion-menu id="sideMenu" side="left" [content]="content">
  <ion-header>
    <ion-toolbar color="cloud">
      <ion-title>功能選單</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">
    <ion-list>
      <ion-list-header class="menu-header"><h3>設定</h3></ion-list-header>
      <button ion-item menuClose *ngFor="let page of settingPages" (click)="openPage(page)">
        <ion-icon item-left [name]="page.icon"></ion-icon>
        {{page.title}}
      </button>

      <ion-list-header class="menu-header"><h3>其他</h3></ion-list-header>
      <button ion-item menuClose *ngFor="let page of otherPages" (click)="openPage(page)">
        <ion-icon item-left [name]="page.icon"></ion-icon>
        {{page.title}}
      </button>

      <ion-list-header class="menu-header"><h3>帳號</h3></ion-list-header>
      <button ion-item menuClose *ngFor="let page of accountPages" (click)="openPage(page)">
        <ion-icon item-left [name]="page.icon"></ion-icon>
        {{page.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>