page-calendar {
  ion-navbar {
    height: 55vh;

    .diary-month {
      font-size: 36px;
    }
    .diary-date {
      font-size: 110px;
      transform: translate(0, -2vh);
    }
    .diary-day, .diary-time {
      font-size: 34px;
      transform: translate(0, -2vh);
    }
    .male {
      color: color($colors, male);
    }
    .female {
      color: color($colors, female);
    }
  }
}
