page-contact-detail {
  ion-navbar.toolbar {
    height: 88px;
  }
  .close-icon {
    margin-right: 10px;
  }
  ion-toolbar.footer-toolbar {
    height: 50px;
  }
  p.phone-no {
    font-size: 16px;
  }
  .phone-button, .sms-button {
    font-size: 11px;
    transform: translate(-6px, -6px);
  }
  .contact-name, .phone-no {
    transform: translate(0, 2px);
  }
  .smsText {
    padding: 16px;
    font-size: 16px;
  }
  .error-message .item-inner {
    border-bottom: 0 !important;  
  }
  .error-message p {
    color: #FF6153;
  }
}
