page-contact-detail {
  ion-toolbar.footer-toolbar {
    height: 50px;
  }
  p.contact-phone {
    font-size: 16px;
  }
  .phone-button, .sms-button {
    font-size: 10px;
    transform: translate(-5px, -5px);
  }
  .contact-name, .contact-phone {
    transform: translate(0, 2px);
  }
}
