page-diary {
  .diary-content .scroll-content {
    padding: 0!important;
  }
  .diary-list {
    //background-color: color($colors, diary);
    background-image: url('../assets/img/bg-sky.png');
    background-repeat: no-repeat;
    background-size:cover;
  }
  .diary-searchbar {
    margin-top: -10px;
  }
  .add-icon {
    margin-right: 10px;
  }
  .menu-icon {
    padding-bottom: 5px; 
  }
}
