page-diary {
  .diary-content .scroll-content {
    padding: 0!important;
  }
  .diary-list .scroll-content {
    padding-top: 0!important;
  }
  .diary-list.male {
    background-image: url('../assets/img/bg-male.png');
    background-repeat: no-repeat;
    background-size:cover;
  }
  .diary-list.female {
    background-image: url('../assets/img/bg-female.png');
    background-repeat: no-repeat;
    background-size:cover;
  }
  .diary-searchbar {
    margin-top: -10px;
  }
  .menu-icon {
    transform: translate(0, 10px);
  }
  ion-toolbar.footer-toolbar {
    height: 50px;
  }
}
