page-diary {
  .segment-content {
    //background-color: color($colors, diary);
    background-image: url('../assets/img/bg-sky01.png');
    background-repeat: no-repeat;
    background-size:cover;
  }
  .diary-searchbar {
    margin-top: -10px;
  }
  .menu-icon {
    padding-bottom: 5px; 
  }
}
