page-diary-detail {
  ion-navbar {
    height: 110px;

    .back-icon {
      transform: translate(0, -25px);
    }
    .diary-month {
      font-size: 18px;
      color: color($colors, clean);
      transform: translate(0, 35px);
    }
    .diary-date {
      font-size: 50px;
      color: color($colors, clean);
      transform: translate(0, -3px);
    }
    .diary-day {
      font-size: 13px;
      color: color($colors, clean);
      transform: translate(3px, -39px);
    }
    .diary-time {
      font-size: 13px;
      color: color($colors, clean);
      transform: translate(-3px, -39px);
    }
  }
  .m-diary-title {
    color: color($colors, male);
    font-size: 125%;
    font-weight: bold;
  }
  .f-diary-title {
    color: color($colors, female);
    font-size: 125%;
    font-weight: bold;
  }
  textarea.text-input {
    padding-bottom: 12px;
  }
  ion-toolbar.footer-toolbar {
    height: 50px;
  }
  .fab-mood {
    transform: translate(-50px, 0);
  }
}
